.contact {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.contact-form-section {
    flex: 1;
}

.contact-image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image-section img {
    max-width: 400px;
}

.contact-form {
    flex: 1;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: left;
}

.contact-form label {
    display: block;
    margin-top: 5px;
}

.contact-form input {
    width: auto;
    max-width: 500px;
    padding: 8px;
    margin-top: 5px;
}

.contact-form select {
    width: auto;
    max-width: 500px;
    padding: 8px;
    margin-top: 5px;
}

.contact-form button {
    width: auto;
    max-width: 500px;
    padding: 8px;
    margin-top: 10px;
    background-color: #008cff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .error {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-image-section {
        margin-top: 1.5rem;       /* add spacing between form and image */
    }
}
