.gallery-image {
    width: 200px;
    height: 200px;
}
.gallery-detail-image {
    max-width: 400px;
    height: auto;
}
.back-link {
    display: block;
}
.gallery-detail,
.gallery-detail-error {
    display: flex;
    flex-direction: column;
    align-items: center;
}
