.hobby img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.hobbies-page {
    display: flex;
    padding: 10px;
}

.sidebar {
    width: 25%;
    background: #f4f4f4;
}

.hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    width: 75%;
}

.hobby {
    padding: 20px;
    text-align: center;
}