.projects {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    padding: 32px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.banner-image {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.banner-content {
    text-align: center;
    flex: 1;
}

.banner-content h2 {
    font-size: 2rem;
}

.banner-content p {
    font-size: 1rem;
    padding-bottom: 16px;
}

.pacman-button {
    padding: 1rem 2rem;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.pacman-button:hover {
    background-color: orange;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.feature-card {
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    flex: 1 1 250px;
    text-align: center;
    max-width: 300px;
}

.feature-card h3 {
    font-size: 32px;
}

.feature-card p {
    font-size: 1rem;
    text-align: left;
}